body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

form a {
  margin-left: 5px
}

#main {
  font-size: 400px;
  color: black;

}

#inner {
  width: 50%;
  margin: 0 auto;
}

#menu {
  list-style-type: none;
  display: inline-block;

}

#navbar {
  display: inline-block;
}

.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align: right;
}

.center {
 position: fixed;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  width: 425px;
  height: 41px;

}

.bar {
  padding-left: 20%;
  padding-right: 20%;

}

.barFull {
  background-color: whitesmoke;
}

